body{
    background-color: ghostwhite;

}
.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ghostwhite;
    font-style: italic;
    font-size: large;
}

.password{
    width: 150px;
    height: 20px;
}

.username{
    width: 150px;
    height: 20px;

}
.btnsubmit{
    width: 155px;
    height:30px;
    margin-top:20px;   
    padding: 5px;
    color: black;
    background-color: ghostwhite;
}
