.wrapper {
  padding: 20px;
}

.navbar {
  background-color: #031a06;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.sidebar ul li {
  padding: 8px 0;
}
